@charset "UTF-8";
.header_menu {
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	padding-top: 35px;
}

.header {
	display: grid;
	grid-template-columns: 200px 100px 120px 100px 1fr 150px;
	grid-template-rows: 100px;
}

.header a {
	padding-top: 8px;
}
button{
	border-radius:5px;
	margin-bottom:10px;
}
button:hover{
	background-color: lightblue;
}